* {
    font-family: 'Prompt', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #3691f4;
}

.content {
    width: 100vw;
    height: 100vh;
    border-radius: 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.inner-content {
    color: white;
}

#stdID {
    margin-top: 3rem;
    height: 8vh;
    border-radius: 1rem;
    outline: 1px solid transparent;
    border: 0px solid transparent;
    padding-left: 2rem;
    font-size: 2rem;
}

#stdID::placeholder {
    color: gray;
}

.btn-search {
    height: 8vh;
    border-radius: 1rem;
    outline: 1px solid transparent;
    border: 0px solid transparent;
    background-color: white;
    color: #3691f4;
    font-size: 2rem;
    font-weight: 800;
}

#showID {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 800;
}

hr {
    outline: 1px solid transparent;
    border: 0px solid transparent;
}

.dontShow {
    display: none;
}

.show {
    display: block;
    margin-top: 3rem;
}


.btn-submit {
    width: 50vw;
    margin-top: 3rem;
    height: 8vh;
    border-radius: 1rem;
    outline: 1px solid transparent;
    border: 0px solid transparent;
    background-color: white;
    color: #3691f4;
    font-size: 2rem;
    font-weight: 800;
}

select {
    font-size: 1.5rem;
    border-radius: 0.5rem;
    outline: 1px solid transparent;
    border: 0px solid transparent;
    padding: 1rem;
}

.control-blog {
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

#score {
    font-size: 1.5rem;
    border-radius: 0.5rem;
    outline: 1px solid transparent;
    border: 0px solid transparent;
    padding: 1rem;
}

#process {
    margin-top: 3rem;
    font-size: 2rem;
}

.success {
    color: green;
}


.search-blog {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: flex-end;
    gap: 1rem;
}

@media only screen and (max-width: 1024px) {
    .search-blog {
        grid-template-columns: 1fr;
    }
    .control-blog {
        grid-template-columns: 1fr;
    }
}